footer {
    height: 10%;
    background-color: var(--rich-black);
    color: var(--teal);
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: var(--english-violet);
}

footer a:hover {
    color: var(--english-violet);
    filter: brightness(0.8);
}